<ion-header>
  <ion-toolbar>
    <ion-nav-link routerDirection="back" slot="start">
      <ion-button (click)="this.navCtrl.pop()">Back</ion-button>
    </ion-nav-link>
    <ion-title>
      Admin
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page4">
  <h1 id="admin-heading2" style="color:#000000;">
    Transactions
  </h1>
  <ion-virtual-scroll [items]="items">
    <ion-card *virtualItem="let item">
      <ion-card-header>
        <ion-card-title style="font-size:18px">{{ item.transaction }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.vendor }} </ion-card-content>
      <ion-card-content>{{ item.spender }}</ion-card-content>
      <ion-card-content>{{ item.amount }}</ion-card-content>
      <ion-card-content>{{ item.date }}</ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>